* {
    justify-content: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../img/header_showcase.jpg");
}


.background-holder {

    position: absolute;
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    overflow: hidden;
    backface-visibility: hidden;
    background-repeat: no-repeat;
}

h1 {
    font-weight: 400;
    font-family: "Source Sans Pro", sans-serif;
    line-height: 1;
    text-align: center;
}

.text-down {
    margin-top: 7%;
    text-align: center;
}

@media (min-width: 62em) {

    .text-white {
        font-size: 4.76837rem !important;
        margin-bottom: 1.5rem;
        font-weight: 300;
        color: white;
    }

    .fw-700 {
        font-weight: 700;
        color: #e1e1e1;
    }

}

p.lead {
    width: 40%;
    display: inline-block;
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
    margin-left: 1rem;
    padding-left: 1em;
    opacity: .75;
    color: #e1e1e1;
}

svg {
    bottom: 0;
    position: absolute;
}

ul {
    list-style-type: none;
    padding: 3px 0;
    display: flex;
    overflow: hidden;
    justify-content: center;
}

.btn {
    margin-top: 4%;
}

.active {
    color: black;
    background-color: aliceblue;
}

li {
    float: right;
    margin: 10px;
}

li a {
    display: block;
    border: 1px solid #e1e1e1;
    color: white;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    padding: 5px 15px;
}

li a:hover {
    overflow: hidden;
}

.card1 {
    width: 30rem;
    color: #353535;
    padding: 0;
    border-radius: 4rem;
}

.card_image1 {
    width: 100%;
    margin: 50px;
    height: 20em;
    object-fit: cover;
    border-radius: .4em;
}

.card_information-title1 {
    font-size: 3rem;
}

.card_information-description1 {
    font-size: 1.4rem;
}

@media screen and (min-width: 34.375em) {

    svg {
        bottom: 0;
        position: absolute;
    }

    .card1 {
        width: 60rem;
        display: flex;
        align-items: center;
        column-gap: 1.5em;
        position: relative;
    }

    .card_image1{
        flex: 0 0 20rem;
        
    }

    .card_information-description{
        font-size: 1.6rem;
    }
}

.card2 {
    width: 30rem;
    color: #353535;
    padding: 0;
    border-radius: 4rem;
}

.card_image2 {
    width: 100%;
    margin: 0 ;
    height: 20em;
    padding-left: 0 ;
    object-fit: cover;
    border-radius: .4em;
}

.card_information-title2 {
    font-size: 3rem;
}

.card_information-description2 {
    font-size: 1.4rem;
}

@media screen and (min-width: 80.375em) {

    svg {
        bottom: 0;
        position: absolute;
    }

    .card2 {
        width: 60rem;
        margin: 0 auto;
        padding-left: 5px;
        display: flex;
        align-items: flex-end;
        column-gap: 1.5em;
        position: relative;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        align-content: stretch;
        justify-content: flex-start;
    }

    .card_image2{
        flex: 0 0 20rem;
        
    }

    .card_information-description2{
        font-size: 1.6rem;
    }
}

.card_image3 {
    width: 100%;
    margin: 20px;
    height: 20em;
    object-fit: cover;
    border-radius: .4em;
}

.card_information-title3 {
    font-size: 3rem;
}

.card_information-description3 {
    font-size: 1.4rem;
}

@media screen and (min-width: 80.375em) {

    svg {
        bottom: 10;
        position: absolute;
    }

    .card3 {
        width: 60rem;
        display: flex;
        column-gap: 1.5em;
        position: relative;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        align-content: stretch;
        justify-content: flex-start;
        align-items: flex-end;
    }

    .card_image3{
        flex: 0 0 20rem;
        
    }

    .card_information-description3{
        font-size: 1.6rem;
    }
}