* {
    justify-content: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../img/header_showcase.jpg");
}


.background-holder {

    position: absolute;
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    backface-visibility: hidden;
    background-repeat: no-repeat;
}

h1 {
    font-weight: 400;
    font-family: "Source Sans Pro", sans-serif;
    line-height: 1;
    text-align: center;
    color: white;
}

.text-down {
    margin-top: 7%;
    text-align: center;
    display: inline-flexbox;
}


p.lead {
    width: 40%;
    display: inline-block;
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
    margin-left: 1rem;
    padding-left: 1em;
    opacity: .75;
    color: #e1e1e1;
}

svg {
    bottom: 0;
    position: absolute;
    z-index: -5;
}

ul {
    list-style-type: none;
   
    text-align: center;
    justify-content: center;
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 5px;
}

.btn {
    margin-top: 4%;
    padding-top: -40px;
    font-weight: 200;
    color: aliceblue;
}

.active {
    color: black;
    background-color: aliceblue;
}

li {
    display: inline-block;
    margin: 10px;
}

li a {
    display: block;
    border: 1px solid #e1e1e1;
    color: white;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    padding: 5px 15px;
}

li a:hover {
    color: black;
    background-color: aliceblue;
}

.card1 {
    display: inline-flex;
    align-items: center;
    padding: 30px;
  
}

.card_image1 {
    width: 25%;
    border-radius: 5px;
    margin: -5px;
    z-index: -2;
}

.card_image2 {
    width: 25%;
    height: 45%;
    border-radius: 5px;
    margin: 15px;
}

.card_image3 {
    width: 25%;
    border-radius: 5px;
    margin: -3px;
}

.card_information-title {
    font-size: 3rem;
}

.card_information-description {
    font-size: 1.4rem;
}


/*Media querie dos cards de imagem*/

@media screen and (min-width: 80.375em) {

    svg {
        bottom: 0;
        position: fixed;
        z-index: -2;
    }

    .card_image1 {
        flex: 0 0 10rem;
        position: sticky;
    }


    .card_information-description {
        font-size: 1.6rem;
    }
}

article {
    width: 100%;
    text-align: center;
    padding-left: 30px;
    border-radius: 5px;
}


/*Media querie do texto */

@media (min-width: 62em) {

    .text-white {
        font-size: 4.76837rem !important;
        margin-bottom: 1.5rem;
        font-weight: 300;
        color: white;
        z-index: -5;
    }

    .fw-700 {
        font-weight: 700;
        color: #e1e1e1;
    }

    .text-down {
        color: aliceblue;
    }

}